<!doctype html>
<html lang="en" layout:decorator="admin/base" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="title">
    <title>分类 & 标签管理</title>
</div>

<div class="container" layout:fragment="content">
    <!-- 用于消息提示  -->
    <p id="message-show" th:text="${message}" style="display: none"></p>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"  >
                   分类管理
                    <button type="button"   class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-type="create" data-class="category" > 新增分类</button>
                </li>
                <li class="list-group-item" th:each="category, categoryStat:${categoryList}" >
                    <span class="badge" th:text="${categoryStat.index}"></span>
                    <span th:text="${category.getName()}"></span>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" th:data-name="${category.getName()}" data-type="modify" data-class="category" style="margin-left: 20px;">
                        修改
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DeleteModal" th:data-name="${category.getName()}" data-type="category" style="margin-left: 20px;">
                        删除
                    </button>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"  >
                    标签管理
                    <button type="button"   class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-type="create" data-class="tag"> 新增标签</button>
                </li>
                <li class="list-group-item" th:each="tag,tagStat:${tagList}" >
                    <span class="badge" th:text="${tagStat.index}">14</span>
                    <span th:text="${tag.getName()}"></span>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" th:data-name="${tag.getName()}" data-type="modify" data-class="tag" style="margin-left: 20px;">
                        修改
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DeleteModal" th:data-name="${tag.getName()}" data-type="tag" style="margin-left: 20px;">
                        删除
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <!-- 新增模态框 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModal">新增条目</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/wp-admin/addCategory" method="POST" enctype="multipart/form-data" id="add-form">
                        <div class="form-group">
                            <label for="name" class="col-form-label">名字</label>
                            <input type="hidden" id="type" name="type" required> <!-- 修改还是创建 -->
                            <input type="hidden" id="oriName" name="oriName" required> <!-- 用于修改 -->
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <input type="submit" class="btn btn-primary" value="确认">
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 删除确认模态框 -->
    <!-- Modal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="adminDeleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteModal">确认信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    你是否确认删除该条目
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <form action="/wp-admin/deleteCategory" id="delete-form" method="POST" enctype="multipart/form-data">
                        <input type="hidden" id="target" name="category">
                        <button type="submit" class="btn btn-primary">确认</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="js">
    <script>
        // 删除模态框
        $('#DeleteModal').on('show.bs.modal', function (event){
            var button = $(event.relatedTarget) ;// Button that triggered the modal
            var name = button.data('name') ;
            var type = button.data('type') ;
            $(this).find("#target").val(name);
            $(this).find("#target").attr("name", type) ;
            // 如果是目录
            if (type == "category"){
                $(this).find("#delete-form").attr("action", "/wp-admin/deleteCategory") ;
            }
            else {
                $(this).find("#delete-form").attr("action", "/wp-admin/deleteTag") ;
            }
        });
    </script>

    <script>
        // 新增模态框
        $('#addModal').on('show.bs.modal', function (event){
            var button = $(event.relatedTarget) ;// Button that triggered the modal
            var className = button.data('class') ;
            var type = button.data('type') ;
            // 加入类型
            $(this).find("#type").val(type);
            $(this).find("#oriName").val("xxx");
            //$(this).find("#target").attr("name", type) ;
            // 如果是分类 则是不同的请求方式
            if (className == "category"){
                $(this).find("#add-form").attr("action", "/wp-admin/addCategory") ;
            }
            // 标签
            else {
                $(this).find("#add-form").attr("action", "/wp-admin/addTag") ;
            }
        });
    </script>

    <script>
        // 修改模态框
        $('#addModal').on('show.bs.modal', function (event){
            var button = $(event.relatedTarget) ;// Button that triggered the modal
            var name = button.data('name') ;  // 这个地方是获取原始的名字
            var className = button.data('class') ;
            var type = button.data('type') ;
            // 加入类型
            $(this).find("#type").val(type);
            // 加入原始名
            $(this).find("#oriName").val(name);
            $(this).find("#name").val(name);
            // 如果是目录
            if (className == "category"){
                $(this).find("#add-form").attr("action", "/wp-admin/addCategory") ;
            }
            // 标签
            else {
                $(this).find("#add-form").attr("action", "/wp-admin/addTag") ;
            }
        });
    </script>
    <script>
        // 消息提示js代码
        function message_out(msg){
            $("#messageModal").find("#message-body").html(msg);
            $("#messageModal").modal('show');
        }
        // 用于消息提示
        $(document).ready(function (){
            var message = $("#message-show").text() ;
            message_out(message) ;
        });
    </script>
</div>
</html>