
<!doctype html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>登录 ‹ 学习是一种信仰</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" id="dashicons-css" th:href="@{/static/accounts/css/dashicons.min.css}" type="text/css" media="all">
    <link rel="stylesheet" id="buttons-css" th:href="@{/static/accounts/css/buttons.min.css}" type="text/css" media="all">
    <link rel="stylesheet" id="forms-css" th:href="@{/static/accounts/css/forms.min.css}" type="text/css" media="all">
    <link rel="stylesheet" id="l10n-css" th:href="@{/static/accounts/css/l10n.min.css}" type="text/css" media="all">
    <link rel="stylesheet" id="login-css" th:href="@{/static/accounts/css/login.min.css}" type="text/css" media="all">
    <meta name="robots" content="noindex,noarchive">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width">
</head>
<body class="login no-js login-action-login wp-core-ui  locale-en-us">
<script type="text/javascript">
    document.body.className = document.body.className.replace('no-js','js');
</script>
<div id="login">
    <a href="/" title="学习一种信仰"><img th:src="@{/static/accounts/images/wordpress.jpg}" alt="" style="width: 40%; height: 40%; margin-left: 90px;" ></a>
    <form name="loginform" id="loginform" action="/admin/loginAction" method="post">
        <p> <label for="user_login">用户名</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username"> </p>
        <input type="hidden" name="next" value="{{ redirect_to }}">
        <div class="user-pass-wrap">
            <label for="user_pass">密码</label>
            <div class="wp-pwd">
                <input type="password" name="password" autocomplete="current-password" required id="id_password">
            </div>
        </div>
        <p class="submit"> <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="登录"> </p>
        <a href="/wp-admin/register"><button type="button" class="button button-primary button-large" style="margin-right: 20px;">注册</button></a>
        <a href="/"><button type="button" class="button button-primary button-large" style="margin-right: 20px;">返回首页</button></a>
    </form>
    <p id="nav"> <a href="/admin/Lostpassword">忘记密码</a> </p>
    <script type="text/javascript">
        function wp_attempt_focus() {setTimeout( function() {try {d = document.getElementById( "user_login" );d.focus(); d.select();} catch( er ) {}}, 200);}
        wp_attempt_focus();
        if ( typeof wpOnload === 'function' ) { wpOnload() }		</script>
    <p id="backtoblog"><a href="/"> ← Back to 学习是一种信仰 </a></p>
</div>
<script type="text/javascript" th:src="@{/static/accounts/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/accounts/js/jquery-migrate.min.js}"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var _zxcvbnSettings = {"src":"https:\/\/www.ivdone.top\/wordpress\/wp-includes\/js\/zxcvbn.min.js"};
    /* ]]> */
</script>
<script type="text/javascript" th:src="@{/static/accounts/js/zxcvbn-async.min.js}"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var pwsL10n = {"unknown":"Password strength unknown","short":"Very weak","bad":"Weak","good":"Medium","strong":"Strong","mismatch":"Mismatch"};
    /* ]]> */
</script>
<script type="text/javascript" th:src="@{/static/accounts/js/password-strength-meter.min.js}"></script>
<script type="text/javascript" th:src="@{/static/accounts/js/underscore.min.js}"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var _wpUtilSettings = {"ajax":{"url":"\/wordpress\/wp-admin\/admin-ajax.php"}};
    /* ]]> */
</script>
<script type="text/javascript" th:src="@{/static/accounts/js/wp-util.min.js}"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var userProfileL10n = {"warn":"Your new password has not been saved.","warnWeak":"Confirm use of weak password","show":"Show","hide":"Hide","cancel":"Cancel","ariaShow":"Show password","ariaHide":"Hide password"};
    /* ]]> */
</script>
<script type="text/javascript" th:src="@{/static/accounts/js/user-profile.min.js}"></script>
<div class="clear"></div>
</body>
</html>